/* src/styles/globals.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #000; /* ensure black background behind particles */
  position: relative; /* allow particles to be fixed in z-index */
  overflow-x: hidden;
}

#app-canvas {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* fill viewport */
}
